.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #f94d1c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}